Flask==2.0.1
gunicorn==20.1.0
python-telegram-bot==21.4
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-auth-httplib2==0.1.0
google-api-python-client==2.26.1
nest-asyncio==1.5.4
Werkzeug==2.0.3
